.basket-buttons {
    border: 1px solid var(--semidark-background);
    width: 80px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  .basket-button {
    flex: 0 0 30%;
    /* width: 20px;
    height: 23px; */
    border: none;
    color: var(--white-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .basket-count {
    font-size: 12px;
    flex: 0 0 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--semidark-background);
  }