.basket-card {
  padding: 20px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-card-right {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.basket-card__icon {
  width: 80px;
  height: 60px;
  border-radius: 5px;
}
.basket-card__infos {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.basket-card__title {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 4px;
}
.basket-card-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
}

/* media query */
@media (min-width: 768px) {
  .basket-card-left {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 30%;
    column-gap: 40px;
  }
  .basket-card__buttons {
    flex: 0 0 50%;
  }
  .basket-card__price-container {
    flex: 0 0 50%;
  }
}
