.articles {
  margin: 80px 0;
}

.articles-wrapper {
  display: flex;
  justify-content: space-between;
}

/* right */
.articles-right {
  display: none;
  height: 720px;
  border-radius: 10px;
}

/* left */
.articles-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 14px;
}

/* media query */

@media (min-width: 768px) {
  .articles-left {
    row-gap: 30px;
    height: 720px;
  }
}
@media (min-width: 992px) {
  .articles-right {
    display: block;
    flex: 0 0 calc(40% - 10px);
  }
  .articles-left {
    flex: 0 0 calc(60% - 10px);
  }
}

@media (min-width: 1200px) {
  .articles-right {
    height: 824px;
    flex: 0 0 calc(50% - 40px);
  }

  .articles-left {
    height: 824px;
    flex: 0 0 calc(50% - 20px);
  }
}

@media (min-width: 1400px) {
  .articles-right {
    flex: 0 0 calc(50% - 30px);
  }

  .articles-left {
    flex: 0 0 calc(50% - 30px);
  }
}
