.articles {
  margin-top: 30px;
  margin-bottom: 80px;
}

.articles-custom__margin{
  margin-bottom: 30px;
}

.articles-wrapper {
  display: flex;
  justify-content: space-between;
}
.articles-wrapper__reverse{
  flex-direction: row-reverse;
}

/* right */
.articles-right {
  display: none;
  height: 720px;
  border-radius: 10px;
}

/* left */
.articles-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 14px;
}

/* media query */

@media (min-width: 768px) {
  .articles-left {
    row-gap: 30px;
    height: 720px;
  }
}
@media (min-width: 992px) {
  /* .articles-wrapper{
    column-gap: 20px;
  } */
  .articles-right {
    display: block;
    flex: 0 0 calc(50% - 10px);
  }
  .articles-left {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (min-width: 1200px) {
  /* .articles-wrapper{
    column-gap: 60px;
  } */
  .articles-right,
  .articles-left {
    height: 824px;
    flex: 0 0 calc(50% - 30px);
  }
}

