.dashboard-link {
  color: var(--primary-color);
  text-decoration: none;
}
.dashboard-link__title {
  font-size: 14px;
}
.dashboard-link__icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* media query */
@media (max-width: 992px) {
  .dashboard-link__title {
    font-size: 12px;
  }
  .dashboard-link__icon {
    width: 12px;
    height: 12px;
    margin-right: 2px;
  }
}
@media (max-width: 550px) {
  .dashboard-link__title {
    font-size: 11px;
  }
  .dashboard-link__icon {
    width: 11px;
    height: 11px;
    margin-right: 2px;
  }
}
