.changePass {
  background: url("/public/images/background/bg2.jpg") center/cover no-repeat;
}

.changePass-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changePass-box {
  width: 400px;
  background-color: rgba(48, 47, 57, 0.9);
  color: var(--white-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.changePass-box__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.changePass-box__header-logo {
  margin-right: 60px;
  margin-bottom: 40px;
}
.changePass-box__header-img {
  width: 200px;
  height: 40px;
}
.changePass-box__header-title {
  font-size: 26px;
  line-height: 44px;
}
.changePass-box__header-text {
  font-size: 13px;
  color: #cbcbcb;
}
.changePass-form {
  width: 100%;
}
.changePass-form__input {
  margin-top: 30px;
}

.changePass-form__button {
  margin-top: 80px;
}

.changePass-form__footer {
  margin-top: 20px;
  font-size: 14px;
}

.changePass-form__foter-text {
  margin-left: 2px;
}
.changePass-form__footer-link {
  text-decoration: none;
  color: var(--primary-color);
}
