.ticket-details {
  padding: 20px 40px;
  overflow: auto;
}

.ticket-details__header {
  font-size: 28px;
  line-height: 56px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 30px;
}

.ticket-details__boxes {
  max-width: 960px;
  min-width: 250px;
  background-color: #f8f8fb;
  border-radius: 15px;
  border: 1px solid #f1f5fc;
  margin: 0 auto;
  overflow: auto;
}

.ticket-details__boxes-header {
  padding: 0 44px;
  height: 70px;
  border-bottom: 1px solid #eff2f9;
}

.ticket-details__boxes-title {
  font-size: 15px;
  line-height: 70px;
}

.ticket-details__boxes-body {
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

/* media query */
@media (max-width: 700px) {
  .ticket-details {
    padding: 20px;
  }
  .ticket-details__header {
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
  }
  .ticket-details__boxes-header {
    padding: 0 30px;
    height: 60px;
  }

  .ticket-details__boxes-title {
    font-size: 14px;
    line-height: 60px;
  }
  .ticket-details__boxes-body {
    padding: 30px 10px;
  }
}
@media (max-width: 400px) {
  .ticket-details {
    padding: 20px 10px;
  }
  .ticket-details__header {
    font-size: 18px;
    line-height: 36px;
  }
  .ticket-details__boxes-header {
    padding: 0 20px;
    height: 50px;
  }

  .ticket-details__boxes-title {
    font-size: 13px;
    line-height: 50px;
  }
}
