.dashboard {
  display: flex;
  overflow: auto;
}
/* right side */
.dashboard-right {
  flex: 0 0 75%;
  height: 100%;
  padding: 30px 40px;
}
.dashboard-right__title {
  font-size: 28px;
  font-weight: 700;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin: 30px 0;
}

.dashboard-orders__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 15px;
}
.dashboard-orders__header-title {
  font-size: 20px;
  font-weight: 700;
}

.dashboard-orders__lists {
  overflow: hidden;
  border-radius: 12px;
}
.dashboard-orders__list {
  height: 77px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-orders__list:nth-child(odd) {
  background-color: #f8f8fb;
}

.dashboard-orders__list-right {
  flex: 0 0 50%;
  overflow: hidden;
}
.dashboard-orders__list-left {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 50px;
}

.dashboard-tickets__title {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 15px;
}
.dashboard-tickets__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8fb;
  min-height: 180px;
  border-radius: 12px;
  color: #b2b2be;
}
.dashboard-tickets__body-icon {
  width: 42px;
  height: 42px;
  transform: rotateZ(-40deg);
}
.dashboard-tickets__body-title {
  font-size: 20px;
  line-height: 40px;
}

/* left side */
.dashboard-left {
  flex: 0 0 25%;
  padding: 24px;
  background-color: #f8f8fb;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.dashboard-left__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.dashboard-notices {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.dashboard-notice {
  background-color: #ededf2;
  padding: 6px 12px;
  border-radius: 10px;
  overflow: hidden;
}
.dashboard-notice__title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 70px;
  border-radius: 20px;
  background-color: #cbcbcb;
  right: -20px;
  bottom: 5px;
}
.unread .dashboard-notice__title::before {
  background-color: #eb6740;
}
.dashboard-notice__title {
  position: relative;
  margin-right: 20px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}
.dashboard-notice__text {
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}

/* media query */
@media (max-width: 1400px) {
  .dashboard-notice__title {
    margin-right: 0;
    font-size: 14px;
    line-height: 28px;
  }
  .dashboard-notice__title::before {
    display: none;
  }
}

@media (max-width: 1200px) {
  .dashboard {
    display: block;
  }
  .dashboard-orders__list-left {
    column-gap: 40px;
  }
  .dashboard-left {
    display: none;
  }
}

@media (max-width: 992px) {
  .dashboard-right__title {
    font-size: 24px;
    font-weight: 700;
  }
  .dashboard-orders__header {
    padding-left: 5px;
  }
  .dashboard-orders__header-title,
  .dashboard-tickets__title {
    font-size: 16px;
    font-weight: 700;
  }
  .dashboard-orders__list {
    height: 62px;
    padding: 0 5px;
  }
  .dashboard-tickets__body {
    min-height: 140px;
  }
  .dashboard-tickets__body-icon {
    width: 32px;
    height: 32px;
  }
  .dashboard-tickets__body-title {
    font-size: 16px;
    line-height: 32px;
  }
  .dashboard-left {
    display: none;
  }
}
@media (max-width: 840px) {
  .dashboard-orders__list-left {
    column-gap: 15px;
  }
  .dashboard-right {
    padding: 20px;
  }
}
@media (max-width: 700px) {
  .dashboard-right__title {
    margin-right: 25px;
  }
  .dashboard-right {
    padding: 25px 10px;
  }
}
@media (max-width: 550px) {
  .dashboard-right__title {
    font-size: 18px;
    font-weight: 600;
  }
  .dashboard-orders__header-title,
  .dashboard-tickets__title {
    font-size: 14px;
    font-weight: 600;
  }
  .dashboard-header {
    column-gap: 10px;
  }
  .dashboard-orders__list-left {
    column-gap: 10px;
  }
  .dashboard-tickets__body-icon {
    width: 28px;
    height: 28px;
  }
  .dashboard-tickets__body-title {
    font-size: 14px;
    line-height: 28px;
  }
}
@media (max-width: 399px) {
  .dashboard-right {
    padding: 23px 2px;
  }
  .dashboard-orders__list-right {
    flex: 0 0 30%;
  }
  .dashboard-orders__list-left {
    flex: 0 0 55%;
    column-gap: 5px;
  }
}
