.tickets {
  padding: 20px 40px;
}

.tickets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tickets-header__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
}
.tickets-header__link {
  width: 236px;
  height: 44px;
  text-decoration: none;
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* table stayles */
.tickets-table__container {
  margin-top: 30px;
  overflow-x: auto;
}
.tickets-table {
  width: 100%;
  min-width: 1100px;
}
.tickets-table__header th {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.tickets-table__header th:nth-child(1) {
  width: 25%;
  text-align: right;
  padding-right: 25px;
}
.tickets-table__header th:nth-child(2),
.tickets-table__header th:nth-child(3),
.tickets-table__header th:nth-child(4) {
  width: 15%;
}
.tickets-table__header th:nth-child(5),
.tickets-table__header th:nth-child(6),
.tickets-table__header th:nth-child(7) {
  width: 10%;
}

.tickets-table__body {
  border: 1px solid #f8f8fb;
}
.tickets-table__body tr:nth-child(odd) {
  background-color: #f8f8fb;
}
.tickets-table__body td {
  font-size: 14px;
  font-weight: 500;
  height: 77px;
  text-align: center;
  vertical-align: middle;
}
.tickets-table__body td:first-child {
  padding-right: 25px;
}

.tickets-table__body-title-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 250px;
  overflow: hidden;
}
.tickets-table__body-title {
  font-size: 15px;
  line-height: 32px;
  font-weight: 500;
  text-wrap: nowrap;
  /* overflow: hidden; */
}
.tickets-table__body-ticktID {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.5;
}
/* media query */
@media (max-width: 1200px) {
  .tickets-table__body-title-box {
    max-width: 200px;
  }
}
@media (max-width: 700px) {
  .tickets {
    padding: 20px;
  }
  .tickets-table {
    width: 100%;
    min-width: 950px;
  }
  .tickets-header__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
    margin-right: 10px;
  }
  .tickets-header__link {
    width: 180px;
    height: 40px;
    text-decoration: none;
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .tickets-header__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }
  .tickets-header__link {
    width: 140px;
    height: 36px;
    text-decoration: none;
    font-size: 12px;
  }
}
