.game-box {
  width: 292px;
  height: 351px;
  padding: 10px;
  background-color: var(--dark-background);
  border-radius: 15px;
  color: var(--white-color);
  overflow: hidden;
}

.game-box__img {
  width: 100%;
  height: 181px;
  border-radius: 10px;
}

.game-box__link {
  text-decoration: none;
  color: var(--white-color);
}

.game-box__title {
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.game-box__last-price {
  position: relative;
  text-align: left;
  font-size: 14px;
  font-weight: 400d;
  color: rgba(255, 255, 255, 0.34);
  margin-top: 8px;
  margin-bottom: 0;
}

.game-box__last-price::after {
  content: "";
  position: absolute;
  width: 82px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.34);
}

.game-box__last-price--hiden {
  font-size: 14px;
  font-weight: 400d;
  color: rgba(255, 255, 255, 0.34);
  margin-top: 8px;
  margin-bottom: 0;
  opacity: 0;
}

.game-box__last-price span {
  font-size: 11px;
}

.game-box__price-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.game-box__off {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  width: 64px;
  height: 19px;
  border-radius: 23px;
  background-color: #494857;
}

.game-box__price {
  font-size: 18px;
  margin-bottom: 0;
}

.game-box__price span {
  font-size: 12px;
}
.game-box__button {
  border: none;
  outline: none;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  background-color: #383742;
  color: var(--white-color);
  border-radius: 5px;
  margin-top: 15px;
  transition: var(--transition);
}
.game-box__button:hover {
  background-color: #494857;
}
.game-box__button-icon {
  font-size: 25px;
  color: var(--primary-color);
}
.game-box__button-text {
  font-size: 16px;
}
