.panel-topbar {
  height: 90px;
  width: calc(100vw - 300px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24232b;
  left: 0;
  top: 0;
  padding-left: 20px;
  z-index: 10;
}

.panel-topbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  height: 40px;
  width: 160px;
  background-color: var(--semidark-background);
  border-radius: 8px;
}
.panel-topbar__img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 14px;
}
.panel-topbar__phone {
  color: var(--white-color);
  font-size: 14px;
}
.panel-topbar-left {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-topbar__notif-link,
.panel-topbar__today,
.panel-topbar__logout-button {
  height: 40px;
  width: 40px;
  background-color: var(--semidark-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-topbar__notif-link {
  position: relative;
  color: var(--white-color);
}
.panel-topbar__notif-link--active {
  border: 2px solid var(--primary-color);
}
.panel-topbar__notif-icon {
  width: 20px;
  height: 24px;
}
.panel-topbar__notif-alarm {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  right: 8px;
  top: 8px;
}

.panel-topbar__today {
  width: 160px;
  color: var(--white-color);
  justify-content: space-between;
  padding: 0 10px;
}
.panel-topbar__icon {
  width: 22px;
  height: 22px;
}
.panel-topbar__date,
.panel-topbar__time {
  /* direction: ltr; */
  font-size: 14px;
}

.panel-topbar__logout-button {
  border: none;
  color: var(--primary-color);
}
.panel-topbar__logout-icon {
  width: 20px;
  height: 20px;
  transform: rotateY(180deg);
}

/* media query */
@media (max-width: 1200px) {
  .panel-topbar {
    width: calc(100vw - 250px);
  }
}
@media (max-width: 992px) {
  .panel-topbar {
    width: calc(100vw - 200px);
  }
}
@media (max-width: 700px) {
  .panel-topbar {
    width: calc(100vw);
    padding: 0 10px;
    height: 70px;
  }
  .panel-topbar-right {
    margin-right: 10px;
    height: 32px;
    width: 130px;
    padding: 0 7px;
  }

  .panel-topbar__img {
    width: 28px;
    height: 28px;
    margin-left: 8px;
  }
  .panel-topbar__phone {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .panel-topbar-left {
    width: 210px;
  }
  .panel-topbar__notif-icon {
    width: 16px;
    height: 20px;
  }
  .panel-topbar__notif-alarm {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 7px;
  }
  .panel-topbar__notif-link,
  .panel-topbar__today,
  .panel-topbar__logout-button {
    height: 32px;
    width: 32px;
  }
  .panel-topbar__today {
    width: 136px;
    padding: 0 6px;
  }
  .panel-topbar__date,
  .panel-topbar__time {
    font-size: 12px;
  }
  .panel-topbar__icon {
    width: 18px;
    height: 18px;
  }
  .panel-topbar__logout-icon {
    width: 16px;
    height: 16p16;
  }
}

@media (max-width: 399px) {
  .panel-topbar {
    padding: 0 8px;
    height: 60px;
  }
  .panel-topbar-right {
    height: 28px;
    width: 120px;
    padding: 0 7px;
  }
  .panel-topbar__img {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
  .panel-topbar__phone {
    font-size: 11px;
  }
  .panel-topbar-left {
    width: 172px;
  }
  .panel-topbar__notif-link,
  .panel-topbar__today,
  .panel-topbar__logout-button {
    height: 28px;
    width: 28px;
  }
  .panel-topbar__notif-alarm{
    top: 5px;
    right: 6px;
  }
  .panel-topbar__today {
    width: 110px;
    padding: 0 4px;
  }
  .panel-topbar__date,
  .panel-topbar__time {
    font-size: 10px;
  }
}
