.chip {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  min-width: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-green {
  background-color: #d8efea;
  color: #25bb85;
}
.chip-orange {
  background-color: #fff1e8;
  color: #ed9446;
}
.chip-pink {
  background-color: #ffe8ed;
  color: #fd295c;
}
.chip-gray {
  background-color: #e1e1e1;
  color: #a6a6a6;
}

/* media query */
@media (max-width: 550px){
  .chip{
    min-width: 60px;
    padding: 2px 4px;
    font-size: 10px;
  }
}