.chip {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.chip-green {
  background-color: #d8efea;
  color: #25bb85;
}
.chip-orange {
  background-color: #fff1e8;
  color: #ed9446;
}
.chip-pink {
  background-color: #ffe8ed;
  color: #fd295c;
}
.chip-gray {
  background-color: #e1e1e1;
  color: #a6a6a6;
}
