.flag {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.flag-title {
  max-width: 180px;
  color: #cccae2;
  justify-content: space-evenly;
}
.flag-name {
  font-size: 11px;
}
.flag-title .flag-name {
  font-size: 12px;
}
.flag-img {
  width: 16px;
  height: 16px;
}
