/* Gifts and explanaions */
.gift-cards__header-container {
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--white-color);
}
.gift-cards__header {
  background-color: var(--dark-background);
  padding: 25px;
  border-radius: 15px;
}
.gift-cards__header-top-img-box {
  margin-bottom: 10px;
}
.gift-cards__header-top-img {
  width: 100%;
  border-radius: 20px;
}
.gift-cards__header-bottom-img-container {
  display: flex;
  justify-content: space-between;
}
.gift-cards__header-bottom-img-box {
  flex: 0 0 calc(33.33% - 12px);
}
.gift-cards__header-bottom-img {
  width: 100%;
  border-radius: 8px;
}
.gift-cards__header-infos {
  margin-top: 20px;
}
.gift-cards__header-infos-top {
  position: relative;
}

.gift-cards__header-infos-top-title {
  position: relative;
  font-size: 23px;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 15px;
  z-index: 2;
}
.gift-cards__header-infos-top-title::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 19px;
  background-color: var(--primary-color);
  border-radius: 12px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.gift-cards__header-infos-body {
  margin-top: 20px;
}
.gift-cards__header-infos-body-title,
.gift-cards__header-infos-bottom-title {
  font-size: 16px;
  font-weight: 700;
}
.gift-cards__header-infos-body-text {
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.gift-cards__header-infos-bottom {
  margin-top: 30px;
}

.gift-cards__header-infos-bottom-flags {
  display: flex;
  align-items: start;
  column-gap: 10px;
  margin: 16px 0;
}
.gift-cards__header-infos-bottom-flags-container {
  min-width: 110px;
}
.gift-cards__header-infos-bottom-flags-icon,
.gift-cards__header-infos-bottom-send-icon {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}
.gift-cards__header-infos-bottom-flags-title,
.gift-cards__header-infos-bottom-send-title {
  font-size: 11px;
  font-weight: 700px;
}
.gift-cards__header-infos-bottom-flag-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  max-width: 180px;
  justify-content: space-evenly;
}
.gift-cards__header-infos-bottom-send {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.gift-cards__header-infos-bottom-send-icon {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.gift-cards__header-infos-bottom-send-text {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  border-radius: 20px;
}

.gift-cards__infos {
  margin-top: 40px;
}
.gift-cards__infos-header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 440px;
  margin: 0 auto 10px auto;
}
.gift-cards__infos-header-box {
  width: 110px;
  height: 30px;
  background-color: #28272e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}
.gift-cards__infos-header-button {
  background-color: transparent;
  color: var(--white-color);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.gift-cards__infos-header-button--active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.gift-cards__infos-body {
  position: relative;
  padding: 46px 10px 36px 10px;
  border-radius: 10px;
  overflow: hidden;
}
.gift-cards__infos-body-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  top: 0;
  right: 0;
}
.gift-cards__infos-text {
  font-size: 12px;
  line-height: 24px;
}
/* Choose gift card */
.gift-cards__body {
  background-color: #2a2933;
  border-radius: 20px;
  padding: 24px 42px 52px 42px;
  margin-bottom: 32px;
}
.gift-cards__body-buttons {
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 29px auto 43px auto;
}
.gift-cards__body-button {
  background-color: transparent;
  border: none;
  color: var(--white-color);
}
.gift-cards__body-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: 0 auto;
}
/* Pay & Help sections */
.gift-cards__footer {
}
.gift-cards__footer-pay {
  background-color: #2a2933;
  padding: 24px 47px;
}
.gift-cards__footer-help {
  background-color: #2a2933;
}
/* Other products section styles */

.gift-products {
  margin-bottom: 80px;
}

/* swiper styles */

.gift-products .swiper-slide {
  display: flex;
  justify-content: center;
}

.gift-products .swiper-button-next::after,
.gift-products .swiper-button-prev::after {
  color: var(--white-color);
  background-color: transparent;
  font-size: 16px;
}

/* media query */
@media (min-width: 400px) {
  .gift-cards__header-infos-bottom-flag-boxes {
    max-width: 260px;
  }
  .gift-cards__body-buttons {
    max-width: 300px;
  }
}
@media (min-width: 576px) {
  .gift-cards__body-buttons {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .gift-cards__header-infos-bottom-flag-boxes {
    max-width: 600px;
  }
  .gift-cards__header-infos-bottom-flags {
    align-items: center;
  }
  .gift-cards__infos-header {
    max-width: 740px;
  }
  .gift-cards__body-cards {
    gap: 25px;
  }
}
@media (min-width: 992px) {
  .gift-cards__header {
    display: flex;
    column-gap: 40px;
  }
  .gift-cards__header-img-container {
    flex: 0 0 calc(40% - 20px);
  }
  .gift-cards__header-infos {
    flex: 0 0 calc(60% - 20px);
    margin: 0;
  }
  .gift-cards__infos-header {
    max-width: 840px;
    margin-bottom: 0;
  }
  .gift-cards__infos-header-box {
    width: 120px;
    height: 36px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .gift-cards__infos-header-button {
    font-size: 16px;
  }
  .gift-cards__infos-text {
    font-size: 14px;
    line-height: 28px;
  }
  .gift-cards__body-cards {
    max-width: 720px;
    gap: 30px;
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  .gift-cards__header {
    max-width: 1100px;
    margin: 0 auto;
  }
  .gift-cards__header-infos-bottom {
    margin-top: 50px;
  }
  .gift-cards__header-infos-bottom-flags {
    column-gap: 15px;
    margin: 24px 0;
  }
  .gift-cards__header-infos-bottom-flag-boxes {
    column-gap: 18px;
  }
  .gift-cards__infos-header {
    max-width: 980px;
    margin-bottom: 0;
  }
  .gift-cards__infos-header-box {
    width: 150px;
    height: 40px;
  }
  .gift-cards__body-cards {
    max-width: 970px;

    justify-content: start;
  }
}
@media (min-width: 1400px) {
  .gift-cards__body-cards {
    max-width: 1320px;
    justify-content: space-between;
  }
}
