/* Selectbox */
.gift-cards__category {
  margin-top: 40px;
}

.gift-cards__category-label {
  color: var(--white-color);
  font-size: 14px;
  margin-left: 10px;
}
.gift-cards__category-select {
  height: 30px;
  width: 160px;
  font-size: 13px;
  color: var(--white-color);
  background-color: var(--semidark-background);
  border: none;
  border-radius: 5px;
  padding: 0 5px;
}
.gift-cards__category-option:focus {
  background-color: var(--primary-color) !important;
}

/* Gifts and explanaions */
.gift-cards__header-container {
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--white-color);
}
.gift-cards__header {
  background-color: var(--dark-background);
  padding: 25px;
  border-radius: 15px;
}
.gift-cards__header-top-img-box {
  margin-bottom: 10px;
}
.gift-cards__header-top-img {
  width: 100%;
  border-radius: 20px;
}
.gift-cards__header-bottom-img-container {
  display: flex;
  justify-content: space-between;
}
.gift-cards__header-bottom-img-box {
  flex: 0 0 calc(33.33% - 12px);
}
.gift-cards__header-bottom-img {
  width: 100%;
  border-radius: 8px;
}
.gift-cards__header-infos {
  margin-top: 20px;
}
.gift-cards__header-infos-top {
  position: relative;
}

.gift-cards__header-infos-top-title {
  position: relative;
  font-size: 23px;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 15px;
  z-index: 2;
}
.gift-cards__header-infos-top-title::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 19px;
  background-color: var(--primary-color);
  border-radius: 12px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.gift-cards__header-infos-body {
  margin-top: 20px;
}
.gift-cards__header-infos-body-title,
.gift-cards__header-infos-bottom-title {
  font-size: 16px;
  font-weight: 700;
}
.gift-cards__header-infos-body-text {
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.gift-cards__header-infos-bottom {
  margin-top: 30px;
}

.gift-cards__header-infos-bottom-flags {
  display: flex;
  align-items: start;
  column-gap: 10px;
  margin: 16px 0;
}
.gift-cards__header-infos-bottom-flags-container {
  min-width: 110px;
}
.gift-cards__header-infos-bottom-flags-icon,
.gift-cards__header-infos-bottom-send-icon {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}
.gift-cards__header-infos-bottom-flags-title,
.gift-cards__header-infos-bottom-send-title {
  font-size: 11px;
  font-weight: 700px;
}
.gift-cards__header-infos-bottom-flag-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  max-width: 180px;
  justify-content: space-evenly;
}
.gift-cards__header-infos-bottom-send {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.gift-cards__header-infos-bottom-send-icon {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.gift-cards__header-infos-bottom-send-text {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  border-radius: 20px;
}

.gift-cards__infos {
  margin-top: 40px;
}
.gift-cards__infos-header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 440px;
  margin: 0 auto 10px auto;
}
.gift-cards__infos-header-box {
  width: 110px;
  height: 30px;
  background-color: #28272e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}
.gift-cards__infos-header-button {
  background-color: transparent;
  color: var(--white-color);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.gift-cards__infos-header-button--active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.gift-cards__infos-body {
  position: relative;
  padding: 46px 10px 36px 10px;
  border-radius: 10px;
  overflow: hidden;
}
.gift-cards__infos-body-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  top: 0;
  right: 0;
}
.gift-cards__infos-text,
.gift-cards__infos-noComment {
  font-size: 12px;
  line-height: 24px;
}
.gift-cards__infos-noComment {
  text-align: center;
}

.gift-cards__infos-list {
  list-style-type: square;
}
.gift-cards__infos-list-item {
  font-size: 12px;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* Accordian */
.accordion {
  --bs-accordion-bg: var(--semidark-background);
}

.accordion-item {
  margin-bottom: 15px;
  background-color: transparent;
}

.accordion-collapse {
  color: var(--white-color);
  font-size: 13px;
  padding-right: 5px;
}

.accordion-button {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  height: 50px;
}

.accordion-button::after {
  position: absolute;
  background-image: url(/public/images/svg/down.svg) !important;
  left: 10px;
  width: 16px;
  height: 16px;
  background-size: 100%;
}

.accordion-button:not(.collapsed) {
  color: var(--white-color);
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

/* Choose gift card */
.gift-cards__body {
  background-color: #2a2933;
  border-radius: 20px;
  padding: 24px 42px 52px 42px;
  margin-bottom: 32px;
}
.gift-cards__body-buttons {
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 29px auto 43px auto;
}
.gift-cards__body-button {
  background-color: transparent;
  border: none;
  color: var(--white-color);
}
.gift-cards__body-flag--active {
  background-color: rgba(253, 41, 92, 0.5);
}

.gift-cards__body-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: 0 auto;
}
/* Help sections */
.gift-cards__footer {
  color: var(--white-color);
  margin-bottom: 80px;
}

.gift-cards__footer-help {
  background-color: #2a2933;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 24px 3px;
}
.gift-cards__footer-help-header {
  display: flex;
  align-items: center;
}
.gift-cards__footer-help-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.gift-cards__footer-help-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.gift-cards__footer-help-body {
  margin-top: 30px;
}
.gift-cards__footer-help-list {
  list-style: disc;
  margin-right: 14px;
  margin-bottom: 0;
  padding-left: 0;
}
.gift-cards__footer-help-list-item {
  font-size: 10px;
  line-height: 44px;
}
/* Other products section styles */

.gift-cards__other-products {
  margin-bottom: 80px;
}

/* swiper styles */

.gift-cards__other-products .swiper-slide {
  display: flex;
  justify-content: center;
}

.gift-cards__other-products .swiper {
  padding-bottom: 30px;
}

/* media query */
@media (min-width: 400px) {
  .gift-cards__header-infos-bottom-flag-boxes {
    max-width: 260px;
  }
  .gift-cards__body-buttons {
    max-width: 300px;
  }

  .gift-cards__footer-help {
    padding: 24px 5px;
  }
}

@media (min-width: 576px) {
  .gift-cards__category {
    margin-right: 10px;
  }
  .gift-cards__body-buttons {
    max-width: 540px;
  }
  .gift-cards__footer-help {
    padding: 24px 14px;
  }
  .gift-cards__footer-help-list-item {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .gift-cards__header-infos-bottom-flag-boxes {
    max-width: 600px;
  }
  .gift-cards__header-infos-bottom-flags {
    align-items: center;
  }
  .gift-cards__infos-header {
    max-width: 740px;
  }
  .gift-cards__body-cards {
    gap: 25px;
  }

  .gift-cards__footer-help {
    padding: 24px;
  }
  .gift-cards__footer-help-list-item {
    font-size: 15px;
  }
  .gift-cards__infos-list-item {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .gift-cards__category-label {
    font-size: 15px;
  }

  .gift-cards__category-select {
    height: 35px;
    width: 170px;
    font-size: 14px;
  }

  .gift-cards__header {
    display: flex;
    column-gap: 40px;
  }
  .gift-cards__header-img-container {
    flex: 0 0 calc(40% - 20px);
  }
  .gift-cards__header-infos {
    flex: 0 0 calc(60% - 20px);
    margin: 0;
  }
  .gift-cards__infos-header {
    max-width: 840px;
    margin-bottom: 0;
  }
  .gift-cards__infos-header-box {
    width: 120px;
    height: 36px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .gift-cards__infos-header-button {
    font-size: 16px;
  }
  .gift-cards__infos-text,
  .gift-cards__infos-noComment {
    font-size: 14px;
    line-height: 28px;
  }

  .accordion-collapse {
    font-size: 14px;
  }

  .accordion-button {
    font-size: 15px;
  }

  .gift-cards__body-cards {
    max-width: 720px;
    gap: 30px;
    justify-content: start;
  }
  .gift-cards__footer-help-list-item {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .gift-cards__category-label {
    font-size: 16px;
  }
  .gift-cards__category-select {
    height: 40px;
    width: 180px;
    font-size: 15px;
  }
  .gift-cards__header {
    max-width: 1100px;
    margin: 0 auto;
  }
  .gift-cards__header-infos-bottom {
    margin-top: 50px;
  }
  .gift-cards__header-infos-bottom-flags {
    column-gap: 15px;
    margin: 24px 0;
  }
  .gift-cards__header-infos-bottom-flag-boxes {
    column-gap: 18px;
  }
  .gift-cards__infos-header {
    max-width: 980px;
    margin-bottom: 0;
  }
  .gift-cards__infos-header-box {
    width: 150px;
    height: 40px;
  }

  .accordion-collapse {
    font-size: 15px;
  }

  .accordion-button {
    font-size: 16px;
  }

  .gift-cards__body-cards {
    max-width: 970px;
  }
  .gift-cards__footer-help-title {
    font-size: 22px;
    font-weight: 700;
  }
  .gift-cards__footer-help-icon {
    width: 34px;
    height: 34px;
  }
  .gift-cards__footer-help-list-item {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  .gift-cards__body-cards {
    max-width: 1320px;
  }
  .gift-cards__footer-help-title {
    font-size: 24px;
  }
  .gift-cards__footer-help-icon {
    width: 36px;
    height: 36px;
  }
  .gift-cards__footer-help-list-item {
    font-size: 18px;
  }
}
