.social {
  background-color: var(--primary-color);
}

.social__wrapper {
  padding: 30px 0;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__title {
  font-size: 12px;
  margin: 0;
}
.social__icons-wrapper {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.social__icons-link {
  width: 44px;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white-color);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icons-link:nth-child(2) {
  margin: 0 12px;
}
.social__icons-icon {
  width: 30px;
  height: 30px;
}

/* media query */
@media (min-width: 400px) {
  .social__title {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .social__title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .social__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .social__title {
    font-size: 18px;
    font-weight: 700;
  }
  .social__icons-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .social__title {
    font-size: 20px;
  }
  .social__icons-link {
    width: 48px;
    height: 52px;
  }
  .social__icons-icon {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 1200px) {
  .social__title {
    font-size: 22px;
  }
  .social__icons-link {
    width: 56px;
    height: 60px;
    border-radius: 7px;
  }
  .social__icons-icon {
    width: 40px;
    height: 40px;
  }
}
