.panel-styles {
  margin: 90px auto 10px 20px;
  width: calc(100vw - 320px);
  min-height: calc(100vh - 110px);
  background-color: #fff;
  border-radius: 20px;
  color: #24232a;
}

/* media query */
@media (max-width: 1200px) {
  .panel-styles {
    width: calc(100vw - 270px);
  }
}
@media (max-width: 992px) {
  .panel-styles {
    width: calc(100vw - 220px);
  }
}
@media (max-width: 700px) {
  .panel-styles {
    width: calc(100vw - 20px);
    min-height: calc(100vh - 90px);
    margin: 70px auto 10px auto;
  }
}
@media (max-width: 399px) {
  .panel-styles {
    min-height: calc(100vh - 80px);
    margin: 60px auto 10px auto;
  }
}
