.section-header {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-header {
  margin: 0;
  align-items: start;
}
.span-header{
  margin: 0;
}
.section-header__wrapper {
  position: relative;
}
.section-header__title {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.styles_for_gift_section {
  font-weight: 400;
}
.gift-card__section-header {
  font-weight: 600;
  margin-left: 5px;
}
.footer-header__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section-header__svg {
  width: 20px;
  height: 20px;
  left: -20px;
  top: -8px;
  position: absolute;
}
.sction-header__underline {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* media query */

@media (min-width: 992px) {
  .section-header__title {
    font-size: 22px;
  }
  .styles_for_gift_section {
    font-size: 20px;
  }
  .section-header__svg {
    width: 23px;
    height: 23px;
    left: -22px;
  }
}
