.blogs__header {
  background-color: var(--dark-background);
  height: 100px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.blogs-box__container {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

@media (min-width: 768px) {
  .blogs-box__container {
    row-gap: 30px;
  }
}
@media (min-width: 992px) {
  .blogs-box__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
