.games-category {
  margin: 80px 0;
}
/* buttons styles */
.games-category__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  max-width: 965px;
  margin: 0 auto;
}

.games-category__button {
  border: none;
  width: 170px;
  height: 35px;
  flex: 0 0 calc(50% - 10px);
  background-color: #28272e;
  border-radius: 4px;
}
.games-category__button:nth-child(3),
.games-category__button:nth-child(4) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.games-category__button--active {
  background-color: var(--primary-color);
}

.games-category__button-text {
  color: var(--white-color);
  margin-right: 5px;
}

/* boxes and swiper styles */

.games-category__boxes-wrapper {
  background-color: #28272e;
  padding: 60px 0;
}

.games-category .swiper-slide {
  display: flex;
  justify-content: center;
}

.games-category .swiper-button-next::after,
.games-category .swiper-button-prev::after {
  color: var(--white-color);
  background-color: transparent;
  font-size: 16px;
}

.games-category__empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-category__empty-text {
  color: var(--white-color);
  font-size: 12px;
  margin: 0;
}

.games-category__empty-icon {
  color: var(--primary-color);
  margin-right: 10px;
  font-size: 18px;
}
.swiper{
  padding-bottom: 30px;
}

.swiper-pagination {
  bottom: -5px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

/* media query */

@media (min-width: 576px) {
  .games-category__button {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .games-category__buttons-wrapper {
    justify-content: center;
  }
  .games-category__button {
    text-decoration: none;
    flex: calc(25% - 10px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .games-category__empty-text {
    font-size: 14px;
  }
  .games-category__empty-icon {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .games-category__button {
    font-size: 14px;
  }
  .games-category__empty-text {
    font-size: 16px;
    font-weight: 500;
  }
  .games-category__empty-icon {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .games-category__empty-text {
    font-size: 18px;
  }
  .games-category__empty-icon {
    font-size: 24px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
