.not-found {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found__heder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
  margin-bottom: 20px;
}
.not-found__title {
  color: #cccccc;
  font-size: 20px;
}

@media (min-width: 768px) {
  .not-found__heder {
    font-size: 100px;
  }
  .not-found__title {
    font-size: 30px;
  }
}
