.new-ticket {
  padding: 20px 40px;
  overflow: auto;
}
.new-ticket__header {
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
}

.new-ticket__box {
  width: 970px;
  background-color: #f8f8fb;
  border: 1px solid #f1f5fc;
  border-radius: 15px;
  color: #323639;
  margin: 0 auto;
}

.new-ticket__box-header {
  height: 70px;
  border-bottom: 1px solid #eff2f9;
  padding-right: 20px;
}
.new-ticket__box-title {
  font-size: 16px;
  line-height: 70px;
  margin: 0;
}

.new-ticket__box-body {
  padding: 20px;
}
.new-ticket__box-inputs {
  display: flex;
  column-gap: 20px;
}
.new-ticket__box-input-title input,
.new-ticket__box-select {
  width: 285px;
  height: 44px;
  border-radius: 8px;
  color: #323639;
  border-color: #e7e6f1;
  background-color: var(--white-color);
}
.new-ticket__box-select-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.new-ticket__box-select-container label {
  font-size: 14px;
}
.new-ticket__box-select {
  padding: 0 10px;
  font-size: 12px;
}

.new-ticket__box-select option {
  font-size: 14px;
  color: #5b5969;
}
.new-ticket__box-select option:hover {
  background-color: var(--primary-color);
}
.new-ticket__box-textarea {
  margin-top: 30px;
}

.new-ticket__box-textarea textarea {
  max-width: 928px;
  border-color: #e7e6f1;
  background-color: var(--white-color);
}
.new-ticket__box-footer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: end;
}
.new-ticket__box-send {
  margin-top: 20px;
}
.new-ticket__box-send-title {
  font-size: 13px;
  color: #7b8793;
  margin-left: 12px;
}
.new-ticket__box-send-input {
  display: none;
}
.new-ticket__box-send label {
  background-color: #ffe8ed;
  color: var(--primary-color);
  font-size: 13px;
  padding: 5px 15px;
  border-radius: 40px;
  cursor: pointer;
}
.new-ticket__box-btn {
  width: 164px;
}

/* media query */
@media (max-width: 700px) {
  .new-ticket {
    padding: 20px;
  }
  .new-ticket__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
  }
  .new-ticket__box {
    width: 700px;
  }
  .new-ticket__box-header {
    height: 60px;
  }
  .new-ticket__box-title {
    font-size: 14px;
    line-height: 60px;
  }
  .new-ticket__box-input-title input,
  .new-ticket__box-select {
    width: 220px;
    height: 36px;
    border-radius: 6px;
  }

  .new-ticket__box-input-title label,
  .new-ticket__box-select-container label,
  .new-ticket__box-select option,
  .new-ticket__box-textarea label {
    font-size: 12px;
  }
  .new-ticket__box-select {
    font-size: 11px;
  }

  .new-ticket__box-send-title {
    font-size: 12px;
    margin-left: 8px;
  }
  .new-ticket__box-send label {
    font-size: 12px;
    padding: 4px 10px;
  }

  .new-ticket__box-btn {
    width: 120px;
    height: 38px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .new-ticket__header {
    font-size: 18px;
    line-height: 36px;
  }
}
